In [3]:
import pandas as pd

df = pd.read_csv(r"/home/david/Git/Energy-Forecasting/data/gefcom_load_zone_1.csv").set_index("Date")
df.head()

            Hour     Load
Date
2004-01-01   0.0  16853.0
2004-01-01   1.0  16450.0
2004-01-01   2.0  16517.0
2004-01-01   3.0  16873.0
2004-01-01   4.0  17064.0